.adduser{
     
    width:40%;
    background-color: aqua;
    padding:30px;
    margin:50px auto;
    border-top-right-radius:40px;
    border-bottom-left-radius:25px;
    border-top-left-radius:25px;
    border-bottom-right-radius:40px;
    border-left-style:groove;
    border-width:125px;
    border-color: rgb(255, 85, 0);
    box-shadow:10px 20px 30px rgb(0, 34, 255);
}
.Login h1{
    color:rgb(206, 125, 13);
    size:small  ;
    background-color:purple ;
    display: center;
    font-display: center;
}
.Login .adduser h1{
    color:blue;
    text-align: center;
    display: flex;

}
.adduserform .input-group{
    display: flex;
    width:90%;
    flex-direction:column;
}
.adduserform .input-group label{
    margin-top:2px;
    margin-bottom:5px;
}

.input-group button{
    margin-top: 20px;   
    background:rgba(7, 240, 15, 0.96);
    border-radius: 10px;
    padding:7px;
    transition: padding .3s;
    size:10px;
    margin-bottom: 10px;
}
.input-group button:hover{
    padding: 12px;
    background:brown;
}
.container{
    width:100%;
}




.bg{
    background-color: rgb(20, 230, 249);
    overflow: hidden;
}
.bg container{
    background-color: rgb(17, 16, 16);
    list-style-type: none;  /* Remove bullet points from the list */
    padding: 0;
    margin: 0;
    display: flex;  /* Display items horizontally */
}

.bg Nav.Link {
    float:right;  /* Float list items to the left */
}

.bg Nav.Link a {
    display: block;
    color: white;  /* Text color */
    text-align: center;
    padding: 14px 16px;  /* Padding inside the navbar links */
    text-decoration: none;  /* Remove underline from links */
    
}


.bg Nav.Link a:hover {
    background-color: #111;  /* Darken background color on hover */
}